#title{
  color: #fff;

}

#Pricing{
  padding: 10rem 15rem
}

.container-fluid{
  margin: 10%;
}

.navi{
  background-color: #000000;
}

.Welcome{
  color: white;
}

.well{
  position: relative;
  bottom: 350px;
  left: 100px;
  width: 31.25rem;
  text-align: center;
}

.photo{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  float: right;
  margin: 2rem;
}

.okay{
  margin-right: 20px;
}

.Chowmein{
  padding: 10rem 0 0;
}

#Testimonials{
  background-color: #000000;
  text-align: center;
}

.whit{
  color: white;
  font-size: 3rem;
  line-height: 1.5;
}

.testimage {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 10%;
}

@media(max-width: 1000px) {
  #title{
    text-align: center;
  }
  .Welcome{
    font-size: 150%;
  }
.imag{
  position: static;
}

.well{
  position:relative;
  bottom: 200px;
  left: 20px;
}

}
